{{ define "acceuil" }}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/template/style-forum.css" />
  </head>
  {{ template "header" .}}
  <article id="post">
    <div class="post_creater"></div>
    <form action="/home" id="post_form" method="POST">
      <input type="text" name="postTitle" placeholder="Post Title" />
      <textarea name="postContent" placeholder="Post Content"></textarea>
      <input type="submit" name="submit" value="Envoyer" />
    </form>
    <div class="post_container">
      {{ range .Post }}
      <div class="post_frame">
        <div class="post_content">
          <h1>{{ .PostTitle }}</h1>
          <p>{{ .PostContent }}</p>
          <p>{{ .PostDate }}</p>
        </div>
        <div class="like_frame">
          <p>{{ .PostLike }}</p>
        </div>
      </div>
      {{ end }}
    </div>
  </article>
</html>

{{ end }}
