{{ define "acceuil" }}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/template/style-forum.css" />
  </head>
  {{ template "header" .}}
  <article id="post">
    <div class="post_containe"></div>
  <form action="/home" id="post_form" method="POST">
    <input type="text" name="postTitle" placeholder="Post Title" />
    <textarea name="postContent" placeholder="Post Content"></textarea>
    <input type="submit" name="submit" value="Envoyer" />
  </form>
  <form action = "/home" method="POST">
    <input type="submit" name="submit" value="like" />
    <input type="submit" name="submit" value="dislike" />
    </form>
  </article>
</html>
{{ end }}
