{{ define "header"}}
  <header>
    <div class="logo_container">
      <a href="/home" id="logo">
        <img src="/template/sources/forhum_logo.png" alt="logo" id="logo" />
      </a>
    </div>
    <div class="search_bar">
      <form action="/home">
        <input type="text" name="search" placeholder="Rechercher un sujet" />
      </form>
      <img src="/template/sources/search-interface-symbol.png" id="search_button" />
    </div>
    <div class="buttons_container">
      <button onclick="popupdisplay(`login`, 0, 0)" class="login">LOG IN</button>
      <button onclick="popupdisplay(`signup`, 0, 0)" class="signup">SIGN UP</button>
    </div>
  </header>
   <login class="popup_login">
     <div class="popup_head">
      <h1 id='login'>LOG IN</h1>
      <button onclick="popupclose(`login`)" class="close_popup_button"><img src="/template/sources/close.png" class="close_popup_button_img"></button>
    </div>
      <div id="login_form" class="login_container">
        <form action="/home" id="login_form" method="POST">
          <input type="text" id="popup_input" placeholder="USERNAME" name="loginUsername" required/>
          <input type="password" id="popup_input" placeholder="PASSWORD" name="loginPassword" required  />
              <input type="submit" value="LOG IN" name="signup_button"/>
              <p class="login_add">You don't have an account yet ? Sign up now <a href="#" class="login_link_add" onclick="popupdisplay(`signup`, 0, 0)">here</a></p>
        </form>
      </div>
  </login>
  <signup class="popup_signup">
    <div class="popup_head">
      <h1 id='signup'>SIGN UP</h1>
      <button onclick="popupclose(`signup`)" class="close_popup_button"><img src="/template/sources/close.png" class="close_popup_button_img"></button>
    </div>
      <div id="signup_form" class="signup_container">
        <form action="/home" id="signup_form" method="POST">
          <input type="text" id="popup_input"  placeholder="USERNAME (7-10 caractères)" name="signupUsername"  required/>
          <input type="text" id="popup_input" name="singupEmail" placeholder="EMAIL" required />
          <input type="password" id="popup_input" name="signupPassword" placeholder="PASSWORD (7-10 caractères avec maj/min et caractère spécial)" required  />
          <input type="password" id="popup_input" name="signupPasswordConfirm" placeholder="CONFIRM PASSWORD" required  />
          <input type="submit" value="SIGN UP" name="signup_button"/>
          <p class="signup_add">You already have an account ? Log in <a href="#" class="signup_link_add" onclick="popupdisplay(`login`, 0, 0)">here</a>
        </form>
      </div>
  </signup>
</html>

<script>
  function popupclose(value) {
    document.getElementsByClassName(`popup_${value}`)[0].style.display = "none";
  }

  function popupdisplay(value, comptLog, comptSign) {
    document.getElementsByClassName(`popup_${value}`)[0].style.display = "block";
    if (value === "login") {
      comptLog += 1;
    } else {
      comptSign += 1;
    }
    if (comptLog%2 == 0) {
      popupclose('login')
    } else if (comptSign%2 == 0) {
      popupclose('signup')
    }
  } 
  $(document.body).click(popupclose('login'));
  $(document.body).click(popupclose('signup'));
</script>

{{end}}